body {
    margin: 0;
    background-color: #a8a8a8
}

html a.no-color, body a.no-color {
    color: unset;
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.mainBody {
    margin-left: 10%;
    margin-right: 10%;
}

.foreground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.blur {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.offcenterTopImgTxt {
    margin-top: 16vw;
}

.centeredImgTxt {
    font-size: 80px;
}

.offcenterBottomImgTxt {
    margin-top: 1vw;
    width: 40%;
    font-size: 26px;
}

.offcenterTopImgTxt, .centeredImgTxt, .offcenterBottomImgTxt {
    color: white;
    margin-left: 10%;
    text-shadow: 3px 2px black;
}

.crop {
    display: inline-block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.crop img {
    width: 100%;
    background-size: contain;
}

.contact {
    grid-area: contact;
}

.socials {
    grid-area: socials;
}

.copyright {
    grid-area: copyright;
}

.contact, .socials, .copyright {
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 40px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 20%;
    margin-top: -10%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: transparent;
    color: white;
    border: 2px solid #005ce6;
    border-radius: 5px;
    float: right;
}

.button2:hover {
    background-color: #005ce6;
}

.control-label {
    color: #FFF;
}

.label {
    color: #FFF;
}

.form-control {
    width: 50%;
}

footer {
    background-color: rgba(0, 0, 0, 0.87);
    color: rgba(255, 255, 255, 0.7);
    padding: 64px 0 128px;
}