.navbar {
    overflow: hidden;
    background-color: #005ce6;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}

.navbar .logIn {
    float: right;
}

.navbar a {
    float: left;
    display: block;
    color: #FFD700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}