header {
    margin-top: 5%;
}

header h2 {
    margin-left: 5%;
}

main {
    margin-top: 4%;
}

main svg {
    margin-top: 3.6%;
}

main p {
    margin-left: 5%;
    margin-bottom: -2%;
    font-size: 20px;
}

main svg {
    margin-left: 5%;
}

main svg text {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
}

#line-chart {
    float: right;
    margin-top: -26%;
    margin-right: 8%;
}

#line-chart .line {
    stroke: steelblue;
    fill: none;
}